  .container {
    position: relative;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-right {
    display: flex;
    align-items: center;
  }
  

  h1 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
  }
.logout-link {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #92d051;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .logout-link:hover {
    background-color: #5b9bd5;
  }
  .search{
    max-width: 70px;
    height: 50px;
    margin-right: 10px;
  }
  header {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left img {
    max-width: 150px;
    height: auto;
    vertical-align: middle;
  }
  
  .home {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #92d051;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .home:hover {
    background-color: #5b9bd5;
  }