body {
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a2e;
  color: #ffffff;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-right {
  display: flex;
  align-items: center;
}

#searchTerm {
  position: absolute;
  top: 10px;
  right: calc(19% + 5px);
  display: none;
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.search {
  max-width: 60px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: middle;
}

h1, h2, h3, p {
  color: #ffffff;
}

.logout-link,
.home {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.logout-link {
  background-color: #92d051;
  color: white;
}

.home {
  background-color: #92d051;
  color: white;
}

.logout-link:hover,
.home:hover {
  background-color: #5b9bd5;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 2;
  background-color: #1a1a2e;
}

.header-left img {
  max-width: 150px;
  height: auto;
  vertical-align: middle;
}

.series-container-wrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
  padding: 20px;
  background-color: #16213e;
  border-radius: 10px;
  margin-bottom: 20px;
}

.series-container-wrapper:first-of-type {
  margin-top: 100px;
}

.series-container-wrapper::-webkit-scrollbar {
  display: none;
}

.genre-title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.series-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.series-card {
  width: 150px;
  background-color: #0f3460;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.series-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.series-title {
  font-size: 16px;
  color: #ffffff;
  margin: 10px 0 5px;
}

.series-image {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.scrollRightButton,
.scrollLeftButton {
  position: sticky;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #92d051;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s ease;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.scrollRightButton {
  right: 0;
}

.scrollLeftButton {
  left: 0;
}

.scrollRightButton:hover,
.scrollLeftButton:hover {
  background-color: #5b9bd5;
}

#info-container {
  display: none;
  box-sizing: border-box;
  background-color: #0f3460;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px 20px;
}

#info-container h1 {
  color: #ffffff;
  margin-bottom: 10px;
}

#info-container p {
  color: #cccccc;
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.trailer,
.actors {
  margin-bottom: 20px;
}

.actors h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.actors ul {
  list-style-type: none;
  padding: 0;
}

.actors li {
  color: #cccccc;
  margin: 5px 0;
}

#less-button,
#watch-video-button {
  background-color: #92d051;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px;
}

#less-button:hover,
#watch-video-button:hover {
  background-color: #5b9bd5;
}

.profile-link {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #92d051;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.profile-link:hover {
  background-color: #5b9bd5;
}

.popular-series-container {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.popular-series-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.popular-series-slideshow {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #16213e;
  border-radius: 10px;
  padding: 10px;
}

.popular-series-slide {
  display: inline-block;
  background-color: #0f3460;
  border-radius: 10px;
  margin: 0 5px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.popular-series-slide:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.popular-series-slide img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.popular-series-slide h3 {
  font-size: 14px;
  color: #ffffff;
}

.scrollLeftButton,
.scrollRightButton {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  background-color: #92d051;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1;
}

.scrollLeftButton:hover,
.scrollRightButton:hover {
  background-color: #5b9bd5;
}

.scrollLeftButton {
  left: 10px;
}

.scrollRightButton {
  right: 10px;
}
